body
{background-color: aquamarine;
margin: auto;
width: 1000px;
}

div{
    color: white;
    background-color: purple;
    margin: 0 auto; }
    span{
        font-weight: bold; 
        background-color: yellow; 
        color: black; 
    }